html,
body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: rgb(153, 166, 166);
}

nav li {
  list-style: none;
  padding: 0 20px;
  text-align: right;
}
